:root {
  --color-brand: #2b7fff;
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-primary-black: #000000;
  --color-dark-brown: #4a4a4a;
  --color-light-brown: #747272;
}
